<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 객체가 두 개가 필요하다면 bean선언이 두 개가 필요하다 -->
	<bean id="greeter1" class="spring01.Greeter">
		<property name="format" value="%s, 안녕하세요!" ></property>
	</bean>
	<bean id="greeter2" class="spring01.Greeter">
		<property name="format" value="%s, 안녕하세요!" ></property>
	</bean>
</beans>
